.father {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* Main Axis */
    height: 120vh;
    flex-wrap: wrap;
}

.child {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

