body {
    display: flex;
    flex-direction: column;
    /* Main Axis */
    justify-content: space-around;
    /* Main Axis */
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: white;
}